<div class='conatiner'>
	<div class="row">
		<div class='col-md-6'>
			<h1>Register</h1>

			<%= simple_form_for(@user) do |f| %>
				<%= f.input :first_name %>
				<%= f.input :last_name %>
				<%= f.input :email %>
				<%= f.input :city %>
				<%= f.input :state %>
				<%= f.input :password %>
				<%= f.input :password_confirmation %>
				<%= f.button :submit %>
			<% end %>
		</div>
		<div class='col-md-6'>
			<h1><u>Sign In</u></h1>

			<% if flash[:error] %>
				<p class="btn-danger"><%= flash[:error] %></p>
			<% end %>

			<%= simple_form_for(:session, :url => sessions_path) do |f| %>
			  <%= f.input :email %>
			  <%= f.input :password %>
			  <%= f.button :submit %>
			<% end %>
		</div>
	</div>
</div>
